@font-face {
  font-family: "pages";
  src: url(font/LemonTea.otf);
}
@font-face {
  font-family: "conditions";
  src: url(font/LEMONMILK-Light.otf);
}
/*header*/
.logo{
    width: 80px;
}

.navbar{
 
  margin-left: 50vh;
  margin: 0 auto;

}
.login{
  margin-top: 12px;
  margin-left: 40px;
  margin-right: 40px;
    
    width: 40px;
}

.compte{
  margin-top: 1%;
  text-align: center;
  font-family: conditions;
  font-size: 50%;
 
}

.navbarcontent {
  display: flex;
  width: 100%;
    text-align: center;
    
    
    
  }
  .navbar-nav{
    
    margin: 0 auto;
    width: 80%;
  }

  @media (max-width: 991px) {
    .navbarcontent {
        /* Afficher les éléments en colonne */
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-size: 2vh;
    }
    
    .nav-item{
      font-family: pages;
      font-size: 1vh;
      margin-top: 5%;
      background-color: #BBAA51;
      
      
    }
.navbar{
  width: 100%;
}
    .navbar-nav .nav-link {
        margin-right: 0; /* Supprimer la marge à droite entre les éléments */
        margin-bottom: 10px; /* Ajouter une marge en bas entre les éléments */
    }
}


  html, body{
    margin: 0;
    padding: 0;
}


  .nav-item{
    font-family: pages;
    font-size: 3vh;
    padding-top: 1%;
      
    margin: 0 auto;
    text-align: center;
    
    
  }

  /*index*/
 
  .d-block{
    width: 100%; 
  }

  .condition{
    width: 30%;
    text-align: center;
    text-align: center; font-family: conditions; 
    
  }

  .lesconditions{
    margin-left: 475px;
    margin-top: 20px;
    background-color: blue;
    width: 30000px;
  }
  
  .titre{
    margin-top: 40px;
    text-align: center;
    font-family: pages;
    font-size: 50px;
   
  }

  .tables {
    border-collapse: collapse;
    
    width: 100%;
 
}
.tables img {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
th{
  width: 5000px;
}

.tGrillade{
  cursor: pointer;
  text-align: center;
  font-family: pages;
}

.descmenu2{
  
  margin-top: 20px;
   font-family: conditions; 
   margin: 0 auto;
 background-color: aquamarine;
  width: 50%;
  font-size: 350%;
}
.grilladetxt{
  
  font-family: conditions;
  font-size: 350%;
 margin-top: 500vh;
  text-align: center;
}

.wrap--image{
 
  width: 100%;
  overflow:hidden;
  margin: 0 auto;
 
  
}
.titregrillade{
 margin-top: 20vh;
  height: 60px;
}

.grilladeimg{
  
  
 /* height: 1px;*/
  width: 100%;
  

}

/*Menu*/
.menu{
  margin-top: 150px;
  text-align: center;
  font-family: pages;
  font-size: 50px;
}
.menu2{
  margin-top: 150px;
  text-align: center;
  font-family: pages;
  font-size: 50px;
  margin: 0 auto;
  width: 100%;
  background-color: aquamarine;
}
.MT{
  margin-top: 40px;
  text-align: center;
  text-align: center; font-family: conditions; 
  
}

.imgmenu{
width: 200px;
/*-webkit-border-radius:100px;*/
}


.descmenu{
  width: 180px;
  margin-top: 20px;
  text-align: center;
  text-align: center; font-family: conditions; 
   
  border-left: 1px solid black;
  border-bottom:1px solid black ;
  border-right: 1px solid black;
  
  
}
.descmenu4{
  width: 10px;
  margin-top: 20px;
  font-size: 50%;
  text-align: center;
   font-family: conditions; 
   padding-top: 50px;
   
   border-left:1px solid black ;
  border-bottom:1px solid black ;
 
  
}

.gr{
  width: 100%;
}

.descmenu3{

  border-top: 1px solid black;
  margin-bottom: 200px;
  margin-bottom: 200px;
  

}
.descmenu1{
  
  border-left: 1px solid black;
  border-top: 1px solid black;
  margin-bottom: 200px;
  margin-bottom: 200px;
  border-right: 1px solid black;

  
}

.table2{
  border-collapse: collapse;
  width: 990px;
  margin: 0 auto ;
  
  /*height: 570px;*/
}

.table2 img{
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.btn{
  margin: 0 auto;
  margin-left: 94px;
  margin-top: 40px;
}

.zmenu{
  
  cursor: pointer;
  transition: background-color 1.9s ease;


}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.titreb{
  font-size: 5vh;
  margin-top: -1vh;
  font-family: pages;
  text-align: center;
  
  width: 50%;
  margin: 0 auto;
  
}

.texteb{
  margin-top: 5vh;
  font-family: conditions;
  text-align: center;
  
  width: 50%;
  margin: 0 auto;
  
}

.imgb{
  margin-top: vh;
  width: 100%;
}
.zonebT{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  
  background-color: white;
  width: 50%;
  margin: 0 auto;
}

.zoneBTI{
  background-color: #BBAA51;
  width: 100%;
  margin-top: 10%;
}
.pres{
  border-top: 1px solid black;
  width: 180vh;
  margin: 0 auto;
  height: 30vh;
}
.presimg{
  margin-top: -14vh;
  width: 20vh;
  margin-left: 130vh;
  
}
.presstitre{
  font-family: pages;
  margin-left: 65vh;
  padding-top:  7vh;
  padding-bottom:  2vh;

}

.presstxt{
font-family: conditions;
margin-left: 20vh;
}

.directrice{
  
  width:180vh;
  margin: 0 auto;
  height: 40vh;
}

.directricetitre{
  font-family: conditions;
  padding-top:  5vh;
  padding-left:  20vh;
}

.directricetxt{
  font-family: conditions;
  padding-top:  5vh;
  padding-left:  50vh;
  padding-right: 28vh;
  margin-bottom: 10vh;
  text-align: center;
}

.participation{
padding-top: 10vh;
  width: 180vh;
  margin: 0 auto;
  height: 180vh;

}

.participationtitre{
  font-family: pages;
  text-align: center;
}

.participationtxt{
  font-family: conditions;
  padding-left: 2vh;
  padding-right: 100vh;
  text-align: center;
  padding-top: 40vh;
  
}
.participationimg{
  width: 90vh;
  margin-left: 85vh;
  margin-top: -39vh;


}
.participationtxt2{
  font-family: conditions;
  padding-left: 100vh;
  padding-right: 2vh;
  padding-top: 35vh;
  text-align: center;
}

.participationimg2{
  width: 90vh;
  margin-right: 85vh;
  padding-left: 7vh;
  margin-top: -36vh;
}

.noscartes{
  padding-top: 7vh;
  
  width: 180ch;
  margin: 0 auto;
  height: 20vh;
}

.tnoscartes{
  font-family: pages;
  text-align: center;

}

.txtnoscartes{
  font-family: conditions;
  text-align: center;
}

.platssenegalais{
  width: 180ch;
  margin: 0 auto;
  padding-top: 7vh;

}

.PStitre{
  font-family: pages;
  text-align: center;

}

.PStxt{
  font-family: conditions;
  text-align: center;
  padding-top: 3vh;
  padding-left: 15vh;
  padding-right: 15vh;
}

.PSimg{
  padding-top: 3vh;
  padding-left: 32vh;
}

.Platsveg{
  width: 180ch;
  margin: 0 auto;
  padding-top: 7vh;
}

.GB{
  
  width: 180ch;
  margin: 0 auto;
  padding-top: 12vh;
}

.gtitre{
  font-family: pages;
  text-align: center;
 margin-top: -24vh;
  
}
.gtxt{
  font-family: conditions;
  text-align: center;
  margin-top: 4vh;
}
.gimg{
  width: 82vh;
  
}
.GBtable{
  
  height: 20px;
  

}
.bimg{
  width: 83vh;
}

.SS{
  width: 180vh;
  margin: 0 auto;
  margin-top: 12vh;
}

.SSimg{
  width: 90vh;
}

.SStitre{
  font-family: pages;
  text-align: center;
}
.SStxt{
  font-family: conditions;
  text-align: center;
}

.nosplats{
  
  height: 90vh;
}
.grilladetxt{
  margin-top: 3vh;
}
.NPimg{
  width: 203vh;
  
  -webkit-filter: brightness(50%);
  position: absolute;
  margin-top: -2.5%;
 z-index: -2;

}

.NPtitre{
  font-family: pages;
  
  text-align: center;
  margin-top: 5vh;  
padding-top: 25vh;
  font-size: 20vh;
  color: rgb(255, 255, 255);
  
}
.NPlist{
width: 32%;
margin: 0 auto;
color: white;


font-family: conditions;

}

.platsene{
  margin-top: 10px;
  
  width: 180vh;
  margin: 0 auto;
}

.platsenetitre{
font-family: pages;
text-align: center;

margin-top: 20%;
}

.platsenesotitre{
font-family: conditions;
text-align: center;
padding-left: 2vh;
padding-right: 2vh;

}

.nosplatsimg{
  margin-top: 2vh;
  width: 90vh;
}
.boislist{
  text-align: center;
  font-family: conditions;
  color: white;
  padding-top: 20vh;
}
.boisson{
  
}
.boitimg{
  width: 203vh;
  filter: brightness(30%);
  -webkit-filter: brightness(45%);
  position: absolute;
  margin-top: 16%;
 z-index: -2;
  
}

.boititre{
  text-align: center;
  font-family: conditions;
  color: white;
  margin-top: 52%;

}
.boistaille{
 
  width: 20%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  
}
.pvegetarien{
  
  width: 180vh;
  margin-top: 20vh;
  margin: 0 auto;
}
.PVimg{
  width: 89vh;
}

.PVtitre{
  margin-top: 30vh;
  font-family: pages;
  text-align: center;
}
.vegcont{
  font-family: conditions;
  text-align: center;
  padding-left: 9vh;
  padding-right: 9vh;
}
.sucsal{
  padding-top: 9vh;
  
}
.sucsalimg{
  width: 101vh;
}

.sucsaltitre{
 font-family: pages;
 text-align: center;
}

.sucsalstitre{
  font-family: conditions;
  text-align:center;
}

.autentifcarre{
  background-color: aqua;
  width: 30vh;
  margin-left: 40vh;
  margin-top: -70vh;
}

.authentiflogo{
  width: 20vh;
  margin-left: 10vh;
 
  }

.autentification{
  
  
  width: 70vh;
  margin: 0 auto;
}
.tableauthentif{
  background-color: white;
  width: 60%;
  height: 70vh;
  margin: 0 auto;
  -webkit-border-radius:10px;
  margin-top: 45%;
}

.colauthentif{
  
  margin: 0 auto;
}

.inputauthentif{
  text-align: center;
  padding-top:  2vh;
  font-family: conditions;
}

.inscriptable{
  background-color:white;
  margin: 0 auto;
  margin-top: 30vh;
  width: 40vh;
  height: 70vh;
  -webkit-border-radius:10px;
}

.inputinscript{
  text-align: center;
  font-family: conditions;
  padding-top: 1vh;
}

.backgoundimg{
  width: 100%;
  height: 130%;
 position: absolute;
 z-index: -1;
}

.succes{
  text-align: center;
}

.update{
  background-color: #BBAA51;
  width: 40vh;
  margin: 5%;
  text-align: center;
  margin-top: 8%;
  height: 30vh;
  font-family: conditions;
  -webkit-border-radius:10px;
}

.logout{
  text-align: right;
  margin-right: 5%;
}
.comptebody{
  background-color: #bb5151;
}