@font-face {
  font-family: "pages";
  src: url(font/LemonTea.otf);
}
@font-face {
  font-family: "conditions";
  src: url(font/LEMONMILK-Light.otf);
}
/*header*/
.logo{
    width: 80px;
}


.login{
  margin-top: 12px;
  margin-left: 40px;
  margin-right: 40px;
    
    width: 40px;
}

.compte{
  margin-top: 1px;
  margin-left: 29px;
}

.navbarcontent {
  
   display: flex;
    margin-left: 220px;
  }

  .nav-item{
    font-family: pages;
    font-size: 30px;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 40px;
  }

  /*index*/
 
  .d-block{
    width: 100px;
    height: 800px;    
  }

  .condition{
    width: 180px;
    text-align: center;
    text-align: center; font-family: conditions; 
    
  }

  .lesconditions{
    margin-left: 475px;
    margin-top: 20px;
    background-color: blue;
    width: 30000px;
  }
  
  .titre{
    margin-top: 40px;
    text-align: center;
    font-family: pages;
    font-size: 50px;
   
  }

  .tables {
    border-collapse: collapse;
 
}
.tables img {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
th{
  width: 5000px;
}

.tGrillade{
  cursor: pointer;
  text-align: center;
  font-family: pages;
}

.descmenu2{
  width: 180px;
  margin-top: 20px;
  
   font-family: conditions; 
   margin: 0 auto;
 background-color: aquamarine;
  width: 500px;
  
}
.grilladetxt{
  font-family: conditions;
}

.wrap--image{
  height: 140vh;
  width: 160vh;
  overflow:hidden;
  margin: 0 auto;
 
  
}
.titregrillade{
 margin-top: 20vh;
  height: 60px;
}

.grilladeimg{
  transition: 1.0s;
  width: 160vh;
  height: 66vh;

}

/*Menu*/
.menu{
  margin-top: 150px;
  text-align: center;
  font-family: pages;
  font-size: 50px;
}
.menu2{
  margin-top: 150px;
  text-align: center;
  font-family: pages;
  font-size: 50px;
  margin: 0 auto;
  width: 1500px;
  background-color: aquamarine;
}
.MT{
  margin-top: 40px;
  text-align: center;
  text-align: center; font-family: conditions; 
  
}

.imgmenu{
width: 200px;
}


.descmenu{
  width: 180px;
  margin-top: 20px;
  text-align: center;
  text-align: center; font-family: conditions; 
   
  border-left: 1px solid black;
  border-bottom:1px solid black ;
  border-right: 1px solid black;
  
  
}
.descmenu4{
  width: 180px;
  margin-top: 20px;
  text-align: center;
  text-align: center; font-family: conditions; 
   
  
  border-bottom:1px solid black ;
 
  
}

.descmenu3{

  border-top: 1px solid black;
  margin-bottom: 200px;
  margin-bottom: 200px;
  

}
.descmenu1{
  
  border-left: 1px solid black;
  border-top: 1px solid black;
  margin-bottom: 200px;
  margin-bottom: 200px;
  border-right: 1px solid black;
  
}

.table2{
  border-collapse: collapse;
  width: 990px;
  margin: 0 auto ;
}

.table2 img{
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.btn{
  margin: 0 auto;
  margin-left: 94px;
  margin-top: 40px;
}

.zmenu{
  background-color:#BBAA51;
  cursor: pointer;
  transition: background-color 0.9s ease;


}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.titreb{
  font-size: 5vh;
  margin-top: -1vh;
  font-family: pages;
  text-align: center;
  
  width: 50vh;
  margin: 0 auto;
  
}

.texteb{
  margin-top: 5vh;
  font-family: conditions;
  text-align: center;
  
  width: 50vh;
  margin: 0 auto;
  
}

.imgb{
  margin-top: vh;
  width: 203vh;
  height: 70vh;
}
.zonebT{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  height: 27vh;
  background-color: white;
  width: 52vh;
  margin: 0 auto;
}

.zoneBTI{
  background-color: #BBAA51;
}
.pres{
  border-top: 1px solid black;
  width: 180vh;
  margin: 0 auto;
  height: 30vh;
}
.presimg{
  margin-top: -14vh;
  width: 20vh;
  margin-left: 130vh;
  
}
.presstitre{
  font-family: pages;
  margin-left: 65vh;
  padding-top:  7vh;
  padding-bottom:  2vh;

}

.presstxt{
font-family: conditions;
margin-left: 20vh;
}

.directrice{
  
  width:180vh;
  margin: 0 auto;
  height: 40vh;
}

.directricetitre{
  font-family: conditions;
  padding-top:  5vh;
  padding-left:  20vh;
}

.directricetxt{
  font-family: conditions;
  padding-top:  5vh;
  padding-left:  50vh;
  padding-right: 28vh;
  margin-bottom: 10vh;
  text-align: center;
}

.participation{
padding-top: 10vh;
  width: 180vh;
  margin: 0 auto;
  height: 180vh;

}

.participationtitre{
  font-family: pages;
  text-align: center;
}

.participationtxt{
  font-family: conditions;
  padding-left: 2vh;
  padding-right: 100vh;
  text-align: center;
  padding-top: 40vh;
  
}
.participationimg{
  width: 90vh;
  margin-left: 85vh;
  margin-top: -39vh;


}
.participationtxt2{
  font-family: conditions;
  padding-left: 100vh;
  padding-right: 2vh;
  padding-top: 35vh;
  text-align: center;
}

.participationimg2{
  width: 90vh;
  margin-right: 85vh;
  padding-left: 7vh;
  margin-top: -36vh;
}

.noscartes{
  padding-top: 7vh;
  
  width: 180ch;
  margin: 0 auto;
  height: 20vh;
}

.tnoscartes{
  font-family: pages;
  text-align: center;

}

.txtnoscartes{
  font-family: conditions;
  text-align: center;
}

.platssenegalais{
  width: 180ch;
  margin: 0 auto;
  padding-top: 7vh;

}

.PStitre{
  font-family: pages;
  text-align: center;

}

.PStxt{
  font-family: conditions;
  text-align: center;
  padding-top: 3vh;
  padding-left: 15vh;
  padding-right: 15vh;
}

.PSimg{
  padding-top: 3vh;
  padding-left: 32vh;
}

.Platsveg{
  width: 180ch;
  margin: 0 auto;
  padding-top: 7vh;
}

.GB{
  
  width: 180ch;
  margin: 0 auto;
  padding-top: 12vh;
}

.gtitre{
  font-family: pages;
  text-align: center;
 margin-top: -24vh;
  
}
.gtxt{
  font-family: conditions;
  text-align: center;
  margin-top: 4vh;
}
.gimg{
  width: 82vh;
  
}
.GBtable{
  
  height: 20px;
  

}
.bimg{
  width: 83vh;
}

.SS{
  width: 180vh;
  margin: 0 auto;
  margin-top: 12vh;
}

.SSimg{
  width: 90vh;
}

.SStitre{
  font-family: pages;
  text-align: center;
}
.SStxt{
  font-family: conditions;
  text-align: center;
}

.nosplats{
  
}